<section class="inside col-md-8 col-md-offset-2" ng-show="inProgress">
	<div ng-hide="hideProgress" class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{completed_percentage}}%;">
	    <span class="sr-only">{{completed_percentage}}% completado</span>
	  </div>
	</div>
	<div ng-show="!quizOver">
		<h3 id="question">{{question}}</h3>

		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">
					  {{option}}
				</label>
			</li>
		</ul>
		<div class="action">
			<button ng-click="checkAnswer()" class="btn btn-primary btn-lg">Próxima pergunta</button>
		</div>
	</div>

	<div class="results" ng-show="quizOver">
		<p><img alt="nível" src="{{level.image}}" class="hidden-xs"></p>
		<h3 class="text-center level">{{level.title}}</h3>
		<p class="text-center advice">{{level.text}}</p>
		<p class="text-center points">Você acertou {{score}} questões de {{maximun_score}}</p>

		<hr>

		<p ng-show="!shared" class="advice text-center"><b>Compartilhe seu resultado</b></p>
		<p ng-show="shared" class="advice text-center"><b>Acesse <a href="http://" target="_blank">cursos.resultadosdigitais.com.br</a> e use o cupom QUIZRD20 para ter 20% de desconto na compra de qualquer curso.</b></p>

		<p class="text-center">
			<button ng-click="shareFacebook()" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i> Facebook</button>
			<button ng-click="shareTwitter()" class="btn btn-default btn-lg"><i class="fa fa-twitter"></i> Twitter</button>
			<button ng-click="shareLinkedIn()" class="btn btn-default btn-lg"><i class="fa fa-linkedin"></i> LinkedIn</button>
		</p>

		<div id="links" ng-hide="wrong_questions.length == 0">
			<hr>
			<h3>Questões que você errou</h3>

			<ul>
				<li ng-repeat="wrong_question in wrong_questions">
					{{wrong_question.question}}
					<ul>
						<li ng-repeat="link in wrong_question.links">
							<a href="{{link.link}}" target="_blank">{{link.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="intro col-md-8 col-md-offset-2" ng-show="!inProgress">
	<img alt="Quiz" src="images/quiz.png" class="img-responsive hidden-xs">
	<h2>Quiz</h2>
	<h3>Bem vindo ao Quiz!</h3>
	<input type="text" class="form-control input-lg" ng-model="name" placeholder="Nome">
	<input type="email" class="form-control input-lg" ng-model="email" placeholder="Email">
	<p class="text-center">
		<button id="startQuiz" class="btn btn-primary btn-block btn-lg" ng-disabled="!name || !email" ng-click="start()"> Começar! </button>
	</p>
</section>
